<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some web page</title>
</head>

<body>
    <h1>We will be right back</h1>
    <p>
        The site is currently being updated!
    </p>
</body>

</html>